.transferPoints__gp{
}

.transferPoints__header{
    display: flex;
    /* text-align: center; */
    justify-content:space-between;
    border-bottom: 1px solid whitesmoke;
    padding: 20px 15px;

}

.transferPoints__header > h1{
    font-weight: 600;
    font-family: arial,sans-serif;
    padding-top:30px;
}

.transferPoints__gp{
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    /* padding: 50px; */
    border-radius: 10px;
}

.managers{
    border: 1px solid lightgrey;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    height: 50px;
}

.managers>h4{
    font-weight: 600;
    font-family: arial,sans-serif;
    padding:5px;
}

.users{
    border: 1px solid lightgrey;
    margin: 20px;
    padding: 20px;
    border-radius: 10px; 
    height: 50px;
}


.users>h4{
    font-weight: 600;
    font-family: arial,sans-serif;
    padding:5px;
}

.transferPoints__body{
    display: flex;
}

.transfer__left{
    flex: 0.50;
    border:1px solid lightgray;
    margin: 10px;
}

.transfer__left h2{
    font-family: arial,sans-serif;
    padding: 20px;
    border-bottom: 1px solid lightgray;

}

.transfer__left>button{
        padding:5px;
        width:100px;
        margin: 50px;
        margin-left:100px;      
}

.transfer__form{
    padding-top: 50px;
    padding-left: 100px;
}


.transfer__table tr td{
    padding-right: 30px;
    padding: 10px
}

.transfer__table tr td i{
    padding-left: 10px
}

.transfer__footer{
    display: flex;
    align-items: center;
    padding: 10px;
    padding-bottom: 50px
}


.transfer__footer>h1{
    font-family:arial,sans-serif;
    font-size: 30px;
}

.transfer__footer ul li{
    font-size:12px;
}

#check1,#check2{
    margin: 8px;
}

.transferPoint__right{
    flex: 0.50;
    border:1px solid lightgray;
    margin: 10px;
}


.transferPoint__right > h2{
    font-family: arial,sans-serif;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.transfer__righttable{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom:1px solid lightgrey;

}
.transfer__righttable h4{
    font-family: arial,sans-serif;
    font-weight:500;
}

